{% extends "layout2.html" %}
{% block content %}
<h1>Calcular</h1>
<form action="/resultado" method="POST">
    
    <input type="radio" id="1" name="ope" value="suma">
    <label for="suma">Suma</label><br>
    <input type="radio" id="2" name="ope" value="resta">
    <label for="resta">Resta</label><br>
    <input type="radio" id="3" name="ope" value="multi">
    <label for="multi">Multiplicacion</label><br>
    <input type="radio" id="4" name="ope" value="divi">
    <label for="divi">Division</label><br>
    <br>
    <label>N1:</label>
    <input type="text" name="n1"><br>
    <label>N2:</label>
    <input type="text" name="n2"><br>
    <input type="submit" />
</form>
{%endblock%}
